Package: con.sugi.youtubetoolsxii
Name: Youtube Tools XII
Architecture: iphoneos-arm
Description: Multifunctional tweak for Youtube.
SileoDepiction: https://sugiuta.github.io/descriptions/youtubetoolsxii/youtubetoolsxii.json
Maintainer: sugi
Author: sugi
Section: Tweaks
Version: 0.0.4-1+debug
Installed-Size: 332
